body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #000;
    opacity: 1;
    transition: 3s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* HOME PAGE */
.jumbotron {
	background-image: url(images/yellow.png); /*: #fff/*#ffbf5b*//*change color*/
    background-size: cover;
    align-content: center;
	color: #fff;
	padding: 100px 25px;
	height: 100vh;
}

#ajuney-text {
    color: #fff;
    font-size: 60px;
    font-weight: normal;
}

/* LINKS */
/* unvisited link */
a:link {
  color: white;

}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
    color: gray;
}

#test p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
}
/*.home {
    top: 100px;
    width: 100%;
}*/

#ajuney-container {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 150px;
    width: 75%;
}

.img-circle {
    border-radius: 50%;
    border:2px solid #fff;/*#ffb033;*/
    float: left;
/*    margin-left: 100px;
    margin-top: 100px;*/
    margin-right: 20px;
    width: 25%;
    height: 25%;
}

/* CONTACT ME */
#contact {
    text-align: center;
}

.icons {
  margin-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
}

.icons a {
    margin: 0 10px;
}

.icon-container:hover {
    opacity: 0.5;
}

.icons-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}

.icons-footer a {
    margin: 0 10px;
}

/*#more-container {
    width:100%;
}

#more-text {
    position:relative;
    width:100%;
    top: 50px;
}

#more {
    text-align: center;
    color: #fff;
}


#learn-more {
    color: #fff;
    border-color: #fff;
    border-width: medium;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.btn {
    background-color: transparent; 
}

.btn:hover {
    color: #ffb033 !important;
    background-color: #fff !important;
}

.container-fluid {
    padding: 60px 60px;
}*/


/* PROJECTS */
.thumbnail:hover {
	opacity: 0.5;
}

.thumbnail {
	color: #000;
}

#projects {
	color: #000;
    margin-left: 30px;
}

.project-container {
    position: relative;
    width: 70%
}

.text {
    color: gray;
    font-size: 18px;
    top: 30%;
    margin-left: 60px; 
}

.date {
    color: #ffb033;
    font-size: 18px;
    float: right;
    margin-right: 30px;
}

.company {
    color: #ffb033;
    font-size: 20px;
    margin-left: 60px; 

}

.role {
    color: black;
    font-size: 24px;
    margin-left: 60px; 

}

li {
  color: gray; /* bullet color */
}

/* EXPERIENCE */
#experience {
    margin-left: 30px;
}


/* SKILLS */
#skills {
    margin-left: 30px;
    height: 65vh;
}



/*NAVBAR*/
.navbar {
	/*margin-bottom: 0;*/
	background-color: #fff;
	/*z-index: 9999*/
	font-family: 'Raleway', sans-serif;
	border: 0;
	font-size: 12px !important; 
	letter-spacing: 2px;
	/*line-height: 1.42857142 !important;*/
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand { /*REMOVE NAVBARBRAND IF NO LONGER USING IT*/
	color: #ffb033 !important; /*change color and maybe remove important*/
}
.navbar-nav li a:hover, .navbar-nav li.active a  {
	color: gray !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

/*FOOTER*/

footer {
	text-align: center;
}





